<div id="dropzone"><p class="button">Drop file here...</p></div>
<progress id="progress" max="100"></progress>
{{#unless single }}
    <ul id="fileList"></ul>
    <div id="preview" class="img-thumbnail"></div>
    <a id="clearBtn" href="#clear" class="button"><i class="fa fa-trash"></i> clear</a> <a id="uploadBtn" href="#upload" class="button"><i class="fa fa-upload"></i> upload</a>
{{/unless}}