<p class="small label grey width-80" style="margin-bottom: 0px; white-space: normal;"><i class="fa fa-info-circle"></i> Click below or drag and drop a file into the area below to start uploading.</p>
<input type="file" class="dropzone width-80"/>

<progress id="progress" max="100"></progress>
{{#unless single }}
    <ul id="fileList"></ul>
    <div id="preview" class="img-thumbnail"></div>
    <a id="clearBtn" href="#clear" class="button"><i class="fa fa-trash"></i> clear</a> <a id="uploadBtn" href="#upload" class="button"><i class="fa fa-upload"></i> upload</a>
{{/unless}}