  <div class="container">
  <header data-region="header" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="#list" class="navbar-brand">Something</a>
                </div>
            </div>
     </header>
     <section id="appBody" data-region="body" class="row">
      <h1>Hello, world!</h1>
     <p>loading...</p>
     </section>
     <footer data-region="footer" class="row">
            <p class="col-xs-12 text-muted">A footer note.</p>
        </footer>
   

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    </div>
