    <span id="layerButtons">
        <a href="" id="btnCycling" class="button button-active">Cycling Map</a>
        <a href="" id="btnOSM" class="button">Street Map</a>
        <a href="" id="btnLandscape" class="button">Landscape</a></span>
    <div id="map" style="height: 600px;"></div>