<div class="container-full">
    <h2>Trails</h2>
    <p>When logged in, you may upload GPS traces to create and rate new trails.<br>
        <a id="uploadTrailBtn" href="" class="button darkenblue">upload GPX file</a></p>
</div>
<hr>
<div class="pagination"></div>
<div id="trails"></div>
<div class="pagination"></div>