<div class="container-full hide-mobile show-tablet">
    <h3>Height Profile</h3>
    <div id="heightProfileDiv" style="min-height: 280px;">
        <canvas id="heightProfile">canvas not supported</canvas>
    </div>
    <span class="small">Note: The height profile is an approximation created from a subset of all available data points.</span>
</div>
